ul.markerList {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.markerList > li {
  padding: 5px;
  border-bottom: 1px solid black;
  user-select: none;
  cursor: pointer;
}

ul.markerList > li:hover {
  background: lightgrey;
}

ul.markerList > li:last-child {
  border-bottom: 0;
}

ul.markerList > li.selected {
  background: lightgrey;
}

ul.markerList > li > a {
  color: black;
}
